<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Modifier le Cours</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="course as crs; else empty">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header class="card-header">
              <img src="../../../assets/images/graduate-icon.png" width="128" height="128">
              <ion-card-title class="card-title" >{{ crs.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="card-body">
              <form [formGroup]="updateCourseForm" #formDirective="ngForm" (submit)="updateCourse(formDirective)">
                <ion-list>
                  <ion-item>
                    <ion-label>Nom</ion-label>
                    <ion-input type="text" placeholder="Math" formControlName="name" name="name" [value]="crs.name"
                      required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>D&eacute;but</ion-label>
                    <ion-input type="text" placeholder="9:00" formControlName="start" name="start" [value]="crs.start"
                      required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Dur&eacute;e</ion-label>
                    <ion-input type="text" placeholder="3:00" formControlName="duration" name="duration"
                      [value]="crs.duration" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Étudiant(s)</ion-label>
                    <ion-select multiple="true" formControlName="registrations" required>
                      <ion-select-option *ngFor="let student of students"
                        value="{{student.surname + ' ' + student.name}}">
                        {{student.surname}}&nbsp;{{student.name}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
                <div class="card-footer">
                  <ion-button type="submit" color="medium" [disabled]="updateCourseForm.invalid">Modifier
                  </ion-button>
                  <ion-button type="button" color="danger" (click)="close();">Annuler
                  </ion-button>
                </div>
              </form>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #empty>Aucune données...</ng-template>
