<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Fiche de l'Étudiant</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(student$ | async) as st; else empty">
<ion-grid>
  <ion-row>
    <ion-col>
      <div>
          <ion-card>
            <ion-card-header class="card-header">
               <img src="../../../assets/images/student-avatar128x128.png" width="128" height="128">
            <ion-card-title>{{ st.surname }}&nbsp;{{ st.name }}</ion-card-title>
              <ion-card-subtitle>{{st.dob}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="card-body">
                <div *ngFor="let course of studentCourses">
                  <ion-chip *ngIf="course.students === st.surname + ' ' + st.name; else nothing">
                  <ion-label>{{ course.course }}</ion-label>
                </ion-chip>
              </div>
              <ion-button type="button" color="danger" (click)="close();">Fermer
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ng-template #empty>Aucune données...</ng-template>

