ion-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  height: 90vh;
  img {
  width: 375px;
  }
  h2 {
  font-size: 36px;
  font-weight: bold;
  }
  }
